body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.cv-container {
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    min-height: 11in;
    overflow-y: auto;
}

.section-title {
    font-family: 'STIX Two Text', serif;
    font-weight: bold;
    font-size: 14pt;
    border-bottom: 2px solid black;
}

input {
    width: 100%;
    padding: 8px 16px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

button {
    background-color: #e7e7e7;
    border-radius: 4px;
    color:  black;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #009cd9;
    color: white;
    align-self: flex-end;
}

.submit-button:hover {
    background-color: #0056b3;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.form-title {
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 6px solid lightgray;
}

.edit-button {
    opacity: 0;
    transition: opacity 0.3s ease;
    align-self: flex-end;
}

.edit-button button{
    font-size: 10pt;
    padding: 4px 8px;
}

button:hover {
    background-color: gray;
}

.section-container {
    font-family: 'STIX Two Text', serif;
    font-size: 12pt;
    margin-top: 20px;
}

.first-line {
    display: flex;
    justify-content: space-between;
}

.edit-remove-container {
    display: flex;
    justify-content: flex-end;
}

.remove-button {
    background-color: lightcoral;
}

.remove-button:hover {
    background-color: red;
}